
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block titulo %}  {% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
</head>
<body>
    <header>
        <div class="bg-white grow">
            <div class="flex justify-between items-center border-b-2 px-6 border-gray-100 py-3 md:justify-start md:space-x-10">
                <div class="flex justify-start lg:w-0 lg:flex-1">
                    <a href="#">
                        <span class="sr-only">Workflow</span>
                        <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
                    </a>
                </div>
                <nav class="hidden md:flex space-x-10">            
                    <a class="text-base font-medium text-gray-500 hover:text-gray-900" href="{% url 'catalogos_index' %}">index </a>
                </nav>
                <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                    <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900"> Sign in </a>
                    <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"> Sign up </a>
                </div>
            </div>
        </div>
    </header>    
    <main class="container mx-auto">
        {% block contenc %}   {% endblock %}
    </main>
</body>
</html>