{% extends "base.html" %}

{% block titulo %} Catalogos {% endblock %}

{% block contenc %}

<div>
    <a href="{% url 'catalogos_create' %}">
        <button>crear</button>
    </a>
    <h3>Listar catalogos</h3>
    <table class="table table-striped table-bordered rounded-lg card" style="width:100%">
        <thead class="bg-gray-400 rounde">
            <tr>
                {% for item in items %}
                <th class="px-1 py-3 pl-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    {{item}}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {% for producto in productos %}
            <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.name}}</td>
                <td>{{producto.sixe}}</td>
                <td>{{producto.observations}}</td>
                <td>{{producto.brand}}</td>
                <td>{{producto.inventory}}</td>
                <td>{% load static %}
                    <img src="{{producto.image.url}}" alt="" width="100"></td>
                <td>{{producto.date}}</td>
                <td><a href="{% url 'catalogos_edit' %}">editar</a></td>
                <td><button>Eliminar</button></td>
            </tr>
            {% endfor %}     
        </tbody>
    </table>
</div>

{% endblock %}