{% extends "base.html" %}

{% block titulo %} Catalogos {% endblock %}

{% block contenc %}

<div>
    <a href="{% url 'catalogos_create' %}">
        <button>crear</button>
    </a>
    <h3>Listar catalogos</h3>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>funcion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alex</td>
                <td><a href="{% url 'catalogos_edit' %}">editar</a></td>
                <td><button>Eliminar</button></td>
            </tr>
            <tr>
                <td>Dayana</td>
                <td><a href="{% url 'catalogos_edit' %}">editar</a></td>
                <td><button>Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}